/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.03.2016, 20:01:09
    Author     : Admin
*/

body {
    padding-top: 48px;
    padding-bottom: 48px;
}

.form-group{
    color:#999;
}

.panel> .table{
    margin-bottom: 20px;
}

.notification{
    margin-top: 2em;
    margin-bottom: 2em;
}   